.projects,.products {
  width: 100%;
  background-color: white;
  color:black;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(21, 90, 209);
  }
}

.project-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  gap: 20px;
}




.project,.products {
  background-color:whitesmoke;
  margin: 20px;
  padding: 5%;
  border-radius: 10px;
  text-align: center;
  display: grid;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  h3 {
    font-size: 1.2rem;
    margin-bottom: 12px;
    color: black;
  }
  p{
    text-align: center;
    
  }
  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    padding: 6px 12px;
    border: 1px solid #1010b6;
    border-radius: 4px;
    max-width: 200px;
    transition: background 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #1010b6;
      color: white;
    }

  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.6);
  }
  
  ul {
    padding-left: 20px;
    list-style: none;

    li {
      font-size: 1rem;
      margin-bottom: 5px;
      transition: color 0.3s ease;

      &:hover {
        color: #1010b6;
      }
    }
  }
}

@media (max-width: 1024px) and (min-width: 320px) {
  .projects {
    padding-top: 180px;
    max-width: 1024px;
    min-width: 320px;
    width: 100%;
    
  }

  .project-list {
      grid-template-columns: repeat(auto-fit, minmax(auto-fit, 1.5fr));
      gap: 20px;
    
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .project-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
}

@media (max-width: 767px) {
  .project-list {
    grid-template-columns: 1fr; /* 1 column for mobile */
  }
  .products{
    width: 90%;

  .chart-container {
    flex-direction: column;
    height: 80vh;
    width: 90%;
    .pie-chart{
      width: 100%;

    }
  }
}
}


.chart-container {
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 1400px;
  min-width: 200px;
  gap: 30px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    background: conic-gradient(var(--gradient));
  }
  
  .legend {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .legend-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
}