.education {
    background-color: white;
    color: black;
  
    h2 {
      color: black;
      margin-bottom: 16px;
    }
  
    .education-item {
      background-color: rgba(32, 32, 204, 0.675);
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      transition: transform 0.3s ease;
  
      h3 {
        color: white;
        margin-bottom: 8px;
      }
  
      p {
        font-size: 1rem;
        color: white;
      }
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px rgba(0,0,0,0.3);
      }
    }
  }
  