<section class="contact">
  <h2>Contact Me</h2>
  <p>Feel free to reach out for collaboration or freelance opportunities!</p>
  <ul>
    <li>
      <i class="fa-solid fa-envelope"></i>
      Email: <a href="mailto:Yashwanthch2223@gmail.com">Yashwanthch2223&#64;gmail.com</a>
    </li>
    <li>
      <i class="fa-solid fa-phone"></i>
      Phone: <a href="tel:+918096537193">+91 8096537193</a>
    </li>
    <li>
      <i class="fa-brands fa-whatsapp"></i>
      WhatsApp: 
      <a href="https://wa.me/918096537193" target="_blank">
        +91 8096537193
      </a>
    </li>
    <li>
      <i class="fa-brands fa-linkedin"></i>
      LinkedIn: 
      <a href="https://www.linkedin.com/in/yashwanth-cherukumalli-ch/" target="_blank">
        yashwanth-cherukumalli-ch
      </a>
    </li>
    <li>
      <i class="fa-brands fa-github"></i>
      GitHub: 
      <a href="https://github.com/Yashwanthcherukumalli" target="_blank">
        Yashwanthcherukumalli
      </a>
    </li>
  </ul>
</section>
