<section class="contact">
    <h2>Contact Me</h2>
    <p>Feel free to reach out for collaboration or freelance opportunities!</p>
    <ul>
      <li>Email: <a href="mailto:Yashwanthch2223@gmail.com">Yashwanthch2223&#64;gmail.com</a></li>
      <li>Phone: +91 8096537193</li>
      <li>LinkedIn: 
        <a href="https://www.linkedin.com/in/yashwanth-cherukumalli-ch/" target="_blank">
          yashwanth-cherukumalli-ch
        </a>
      </li>
      <li>GitHub: 
        <a href="https://github.com/Yashwanthcherukumalli" target="_blank">
          Yashwanthcherukumalli
        </a>
      </li>
    </ul>
  </section>
  