.contact {
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
  padding-bottom: 20px;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 15px;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      flex-wrap: wrap;

      i {
        color: #ff6347;
        font-size: 1.5rem;
        transition: color 0.3s ease;

        &:hover {
          color: #ff4500;
        }
      }

      a {
        color: #ff6347;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;

        &:hover {
          color: #ff4500;
          text-decoration: underline;
        }
      }
    }
  }
}

i.fa-whatsapp {
  color: #25D366;
  font-size: 1.5rem;
  margin-right: 10px;
  transition: color 0.3s ease;

  &:hover {
    color: #128C7E;
  }
}

/* Responsive Adjustments */
@media (max-width: 1024px) and (min-width: 320px) {
  .contact {
    padding-top: 180px;

    h2 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1rem;
    }

    ul li {
      font-size: 1rem;

      i {
        font-size: 1.3rem;
      }

      a {
        font-size: 0.9rem;
      }
    }
  }
}
