<section class="goals">
    <h2>My Goals</h2>
    <p>My goal is to become a proficient full-stack developer with expertise in modern frontend frameworks, backend technologies, and AI-driven solutions.</p>
    
    <h2>Certifications</h2>
  
    <div class="certificate">
      <h3>Angular Certification</h3>
      <iframe 
        src="../../../assets/Coursera PB5ASQNP4OG9.pdf" 
        frameborder="0" 
        allowfullscreen
        adjust>
      </iframe>
      <a href="https://coursera.org/share/a8923eb1b8ea51afe51b111c3e7c8f41" target="_blank">View on Coursera</a>
    </div>
  
    <div class="certificate">
      <h3>Great Learning PGP DSE Certification</h3>
      <img width="60%" height="500px" src="../../../assets/gl_certificate.jpg" >
      <a href="https://www.mygreatlearning.com/certificate/QUFGSLSC" target="_blank">View on Great Learning</a>
    </div>
    <div class="certificate">
      <h3>Angular basic certificate from Hacker Rank</h3>
       <iframe src="https://www.hackerrank.com/certificates/iframe/2c4eefd4a1b2" frameborder="0"></iframe> 
       <a href="https://www.hackerrank.com/certificates/2c4eefd4a1b2"target="_blank">View on Hackerrank</a>    
    </div>
    <div class="certificate">
        <h3>SQL basic certificate from Hacker Rank</h3>
         <iframe src="https://www.hackerrank.com/certificates/iframe/fbdfe2b7d9e8" frameborder="0"></iframe> 
         <a href="https://www.hackerrank.com/certificates/fbdfe2b7d9e8"target="_blank">View on Hackerrank</a>    
      </div>
      <div class="certificate">
        <h3>Angular certificate from sololearn</h3>
         <img width="60%" height="500px" src="../../../assets/solo learn angular.png"> 
         <a href="https://www.sololearn.com/certificates/CC-VHFJ6LIY"target="_blank">View on sololearn</a>    
      </div>
      <div class="certificate">
        <h3>JavaScript certificate from sololearn</h3>
         <img width="60%" height="500px" src="../../../assets/sololearning js.png"> 
         <a href="https://www.sololearn.com/certificates/CC-HDY23PAI"target="_blank">View on sololearn</a>    
      </div>
  </section>

  