.about {
    padding: 100px 20px;
    background-color: #222;
    color: white;
    text-align: center;
  }
  
  .about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  