<section class="hero">
  <div class="intro">
    <h1>Hi, I'm Yashwanth</h1>
    <p>
      A Frontend Developer with over <strong>1+ years</strong> of experience in building dynamic and responsive web applications using <strong>Angular, TypeScript, and JavaScript</strong> . I've worked on diverse projects, including e-commerce platforms, portfolio sites, and business applications. Skilled in state management, REST APIs, and component-based architecture, I aim to create seamless and user-friendly experiences. Passionate about learning and improving, I’m always exploring new web technologies.
    </p>

    <h2>Skills:</h2>
    <ul>
      <li>Angular</li>
      <li>TypeScript</li>
      <li>JavaScript</li>
      <li>HTML & CSS</li>
      <li>SQL</li>
      <li>Python</li>
      <li>Machine Learning</li>
      <li>Artificial Intelligence</li>
      <li>Generative AI</li>
      <li>Java</li>
    </ul>
    <button class="btn" routerLink="/contact" routerLinkActive="active">contact</button>
  </div>
  </section>
